*{
    box-sizing: border-box;
}

table{
    border: 1px solid #dadada;
    margin: 100px auto;
    border-collapse: collapse;
}


caption{
    font-weight: 700;
    font-size: 25px;
    color: #000000;
    margin-right: 1040px;
}


.ID{
    width: 72px;
    height: 57px;
    background-color: #f9f9f9;
    font-weight: 700;
    font-size: 15px;
}
.title{
    width: 444px;
    height: 57px;
    padding-right: 350px;
    background-color: #f9f9f9;
    font-weight: 700;
    font-size: 15px;
    
}
.created{
    width: 276px;
    height: 57px;
    background-color: #f9f9f9;
    font-weight: 700;
    font-size: 15px;
    
}
.action{
    width: 368px;
    height: 57px;
    background-color: #f9f9f9;
    font-weight: 700;
    font-size: 15px;
}




.number{
    width: 72px;
    height: 57px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    text-align: center;
}
.text{
    width: 444px;
    height: 57px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    background-color: #ffffff;
    padding-left: 35px;
}
.date{
    width: 276px;
    height: 57px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}
.button1{
    width: 115px;
    height: 36px;
    font-weight: 500;
    font-size: 15px;
    background-color: #ffd43a;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button2{
    width: 115px;
    height: 36px;
    font-weight: 500;
    font-size: 15px;
    background-color: #e84949;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin-left: 8px;
}





